.cards {
    padding-top: 64px;
    padding-bottom: 48px !important;

    .col-1-1 .heading {
        font-size: $font-size-heading-2;
    }

    .button {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
