.cinema {
    padding-top: 48px;
    padding-bottom: 48px;

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;

        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .heading {
        font-size: $font-size-heading-2;
    }

    .text-container {
        text-align: center;

        p {
            margin-left: auto;
            margin-right: auto;
        }
    }

    iframe {
        width: 100%;
    }
}
