.contact {
    height: auto;

    &.expanded {
        top: $modal-offset;

        @include s-m {
            top: 48px;

            .modal-content {
                height: 80vh;
            }
        }

        @include l {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    a {
        font-family: $font-family;
        font-weight: $font-weight-thin;
    }

    .email {
        display: inline-block;
        margin-bottom: 24px;
    }

    .person {
        margin-bottom: 48px;
        height: 288px;

        @include m {
            max-height: 278px;
        }

        span {
            display: block;
        }

        .person-image {
            display: block;
            width: 100%;
            height: 192px;
            margin-bottom: 24px;
            -o-object-fit: cover;
            object-fit: cover;
            font-family: 'object-fit: cover;';
        }

        .person-name {
            width: 100%;
        }

        .person-email,
        .person-phone {
            width: 100%;
            font-style: italic;
            font-size: $font-size-small;
            line-height: 1.8;
        }
    }
}
