.footer {
    position: relative;
    height: 80vh;
    max-height: 800px;
    background-color: $color-gray;
    background-size: cover;
    background-position: center;
    color: $color-white;
    overflow: hidden;

    @include s-m {
        height: auto;
        padding-top: 64px;
        text-align: center;

        .button {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.short {
        height: 320px;
    }

    a {
        font-family: $font-family;
        font-weight: $font-weight-thin;
    }

    .background-image {
        position: absolute;
        opacity: 0.7;
        width: 100%;
    }

    .mdi {
        color: $color-primary;
    }
}

.subfooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 64px;
    font-size: 16px;
    text-align: right;
    line-height: $font-leading-body;
    letter-spacing: $font-tracking-small;

    @include s-m {
        position: relative;
        padding-bottom: 12px;
        text-align: center;
    }

    ul {
        padding-left: 0;
        margin-left: auto;
        list-style: none;

        @include m {
            margin-right: auto;
        }
    }

    .logo {
        width: 200px;
        margin-bottom: 8px;
    }
}
