.gallery {
    padding-top: 64px;
    padding-bottom: 64px;

    @include s {
        padding-top: 24px;
        padding-bottom: 12px;
    }

    .heading {
        font-size: $font-size-heading-2;
    }

    .card .heading {
        font-size: $font-size-heading-3;
    }
}
