.introduction {
    padding-top: 56px;
    padding-bottom: 56px;
    background-size: cover;
    font-weight: $font-weight-thinner;

    @include s-m {
        margin-top: 0;
    }

    b, strong {
        opacity: 1;
        font-family: $font-family-heading;
        font-weight: $font-weight-heading;
    }

    &.color-black {
        background-color: $color-black;
        color: $color-lightgray;

        @include s-m {
            margin-bottom: 0;
        }
    }

    &.color-orange {
        background-color: $color-primary;
        color: $color-white;

        @include s-m {
            margin-bottom: 0;
        }
    }

    .cell {
        &.left {
            font-size: $font-size-heading-2;
            text-transform: uppercase;
            line-height: 1.25;

            @include s-m {
                margin-bottom: 48px;
            }

            p {
                margin-bottom: -8px;
            }
        }

        &.right {
            font-size: $font-size-heading-3½;

            p:last-child {
                margin-bottom: 0;
            }
        }
    }

    .awards {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: none;
        margin-top: 32px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        list-style-type: none;

        @include s {
            padding-left: 32px;
            padding-right: 32px;
        }

        @include m-l {
            margin-left: auto;
            margin-right: auto;
        }

        .award-container {
            @include s {
                &::after {
                    content: ' ';
                    display: table;
                    clear: both;
                }
            }
        }

        .award {
            width: 100px;

            @include s {
                width: 1/3 * 100%;
            }

            img {
                width: 100%;
            }
        }
    }
}
