body.has-loaded {
    .section.jumbotron {
        .heading {
            animation: appear 1.0s $easing 0s;
        }

        .heading.thin {
            animation: appear 1.5s $easing 0s;
        }
    }
}

.section.jumbotron {
    height: 100vh;
    max-height: 100vh;
    //background-color: $color-white;
    background-color: $color-black;
    color: $color-white;
    overflow-x: hidden;

    @include s-m {
        max-height: 600px;
    }

    &.has-video {
        background-color: $color-black;

        @include l {
            [id^="jarallax-container"] {
                display: none;
            }
        }
    }

    &.section--404 {
        background-color: $color-gray;
    }

    [id^="jarallax-container"] {
        opacity: 0.9;
    }

    .jumbotron-video {
        @include s-m {
            display: none;
        }
    }

    .jumbotron-content {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .background-image {
        position: absolute;
        width: 100%;
        animation: emerge-slow 1.3s ease-out 0s;
    }

    .heading {
        position: relative;
        margin-bottom: 0;
        line-height: 1;
        z-index: 1;
    }
}
