.menu {
    position: fixed;
    top: 0;
    height: $menu-height;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    color: $color-white;
    font-family: $font-family-heading;
    font-size: $font-size-small;
    text-transform: uppercase;
    animation: emerge 0.8s $easing 0s;
    transition: height $transition-fast, padding-top $transition-fast, padding-bottom $transition-fast, background-color $transition-fast;
    z-index: 100;

    a {
        font-family: $font-family;
        font-weight: $font-weight-thin;
    }

    ul {
        list-style: none;
    }

    @include s-m {
        height: $menu-s-height;
        padding-top: 0;
        padding-bottom: 0;
        background: $color-white;
        color: $color-black;

        &.opened {
            .menu-box.items {
                display: block;
            }
        }

        .container {
            padding: 0;
        }

        .row {
            margin-left: 0;
            margin-right: 0;
        }

        .menu-button {
            position: absolute;
            display: block !important;
            width: $menu-s-height;
            height: $menu-s-height;
            padding-top: 5px;
            padding-left: 12px;
            padding-right: 12px;
            font-size: 24px;
            cursor: pointer;

            &:hover {
                background-color: $color-primary;
                color: $color-white;
            }

            &.menu-button-contact {
                right: 0;
            }
        }

        .logo {
            position: relative;
            left: 50%;
            margin-top: 12px !important;
            margin-bottom: 12px !important;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);

            .logo-black {
                display: block !important;
            }

            .logo-white {
                display: none !important;
            }
        }

        .menu-box {
            &.right {
                position: fixed;
                float: none !important;
                top: $menu-s-height;
            }

            &.items {
                display: none;
                margin-bottom: 4px;
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);

                @include s {
                    width: 100%;
                }

                @include m {
                    width: 256px;
                }

                a {
                    line-height: $menu-s-height !important;
                }
            }

            &.language,
            &.social {
                display: none;
            }
        }

        .menu-item {
            width: 100%;
            margin: 0 !important;
            background-color: $color-white;
            color: $color-black;

            @include s-m {
                box-shadow: 0px 1px 0px 0px $color-lightgray inset;

                &.cta {
                    box-shadow: none;
                }
            }

            &:hover {
                background-color: $color-primary;
                color: $color-white !important;

                a {
                    color: inherit;
                }
            }

            &.cta {
                border-radius: 0 !important;
                padding-left: 0px !important;
                line-height: $menu-s-height !important;
            }

            a {
                padding-left: 14px;
            }
        }

        .s-1-1 {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include l {
        &.expanded {
            height: $menu-expanded-height;
            padding-top: 0;
            padding-bottom: 0;
            background: $color-white;
            color: $color-black;

            .logo {
                .logo-black {
                    display: block;
                }

                .logo-white {
                    display: none;
                }
            }

            .menu-item {
                &.active {
                    box-shadow: 0 3px 0 0 $color-primary inset;
                }
            }
        }
    }

    &.expanded {
        box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1);

        .mobile-translation-link {
            display: none;
        }
    }

    .menu-button {
        display: none;
    }

    .menu-box {
        overflow: hidden;
        float: left;

        &:first-child {
            padding-left: 0;
        }

        &.right {
            float: right;
        }

        &.items {
            a {
                display: block;
                color: inherit;
                line-height: $menu-expanded-height;
            }

            .cta {
                a {
                    line-height: inherit;
                }
            }
        }

        &.social {
            a {
                margin-left: 4px;
                display: block;
                overflow: hidden;
                float: left;
            }

            .mdi {
                font-size: 20px;
            }
        }
    }

    .menu-item {
        float: left;
        margin-left: 32px;
        line-height: $menu-expanded-height;
        font-family: $font-family-heading;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            color: $color-primary;
        }

        &.cta {
            $cta-margin: 12px;
            $cta-height: $menu-expanded-height - $cta-margin * 2;
            margin-top: $cta-margin;
            margin-bottom: $cta-margin;
            padding-left: 32px;
            padding-right: 32px;
            border-radius: 3px;
            background-color: $color-primary;
            color: $color-white;
            font-weight: $font-weight-heading;
            line-height: $cta-height;
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            transition: background-color $transition;

            @include l {
                width: 154px;
                text-align: center;
            }

            &:hover {
                background-color: $color-primary-dark;
            }

            .mdi {
                line-height: 0;
            }

            .expanded {
                display: block;
            }
        }
    }

    .logo {
        margin-top: 20px;
        font-size: $font-size-heading-2;
        font-weight: $font-weight-thin;
        text-transform: none;
        line-height: $menu-expanded-height;
        backface-visibility: hidden; /* Fixes animation flickering. */
        -webkit-backface-visibility: hidden;
        user-select: none;

        @include s-m {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .logo-image {
            width: 170px;
            max-width: 100%; /* Fixes IE11 SVG imgs */
            max-height: 100%; /* Fixes IE11 SVG imgs */
        }

        .logo-white {
            display: block;
        }

        .logo-black {
            display: none;
        }
    }

    .flag {
        display: none;
        width: 24px;
        height: 24px; // Required for IE 11.
        margin-top: 20px;
    }
}

.mobile-translation-link {
    display: none;

    @include s-m {
        position: absolute;
        left: 0;
        right: 0;
        //display: block;
        opacity: 0.8;
        padding-top: 12px;
        padding-bottom: 12px;
        color: $color-white;
        background-color: rgba($color-black, 0.6);
        font-size: 12px;
        font-style: italic;
        text-align: center;
        text-transform: none;
        transition: opacity $transition-slowest;
        z-index: -1;

        &:hover {
            opacity: 1;
            background-color: rgba($color-black, 0.9);
        }
    }
}
