.modal.default {
    @include s-m {
        -webkit-box-align: flex-start;
        -moz-box-align: flex-start;
        -ms-flex-align: flex-start;
        -webkit-align-items: flex-start;
        align-items: flex-start;

        &.expanded {
            top: $menu-s-height;
        }
    }

    button {
        @extend %button;
        width: 224px;
        height: 48px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }

    input, textarea {
        border: none;
        background-color: $color-lightgray;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
    }

    .modal-content {
        width: 580px;
        max-width: 90%;
        height: auto;
        border: none;
        border-top: 2px solid $color-primary;
        padding: 40px;

        @include s-m {
            width: 100%;
            max-width: 100%;
            max-height: 100vh;
            padding: 24px;
        }

        button {
            margin-bottom: 0;
        }
    }

    .wpforms-title {
        margin-bottom: 16px;
        font-family: $font-family-heading;
        font-size: $font-size-heading-3;
        font-weight: $font-weight-heading;
        text-transform: uppercase;

        @include s-m {
            margin-bottom: 8px;
        }
    }

    .wpforms-field {
        margin-bottom: 16px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .wpforms-field-label {
        font-weight: $font-weight-normal;
        font-size: 16px;
    }

    .wpforms-required-label {
        color: $color-primary;
    }

    .wpforms-field-hp,
    #wpform-field-hp {
        display: none;
    }
}
