.post {
    padding-top: 64px;
    padding-bottom: 64px !important;

    @include s-m {
        padding-top: 48px;
        padding-bottom: 24px;
    }

    ul {
        padding-left: 40px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 40px;
        margin-bottom: 16px;
    }

    a {
        font-weight: $font-weight-heading;
        font-family: $font-family-heading;
    }

    &.case {
        padding-bottom: 0 !important;

        .post-navigation {
            display: block;
            margin-top: 32px;
        }
    }

    .return-button {
        display: inline-block;
        margin-bottom: 16px;
    }

    .post-navigation {
        display: none;
        padding-top: 48px;
        padding-bottom: 48px;
        background-color: $color-black;
        color: $color-white;

        .heading {
            margin-top: 0;

            &.thin {
                padding-top: 2px;
            }
        }

        .post-button {
            position: relative;

            &::before {
                opacity: 0.5;

                @include m-l {
                    font-size: $font-size-heading-2;
                    line-height: 70px;
                }
            }

            @include s {
                max-width: 50%;
                margin-left: auto;
                margin-right: auto;

                &::before {
                    content: " ";
                    display: table;
                    clear: both;
                    font-size: 24px;
                    line-height: 52px;
                }

                .heading {
                    text-align: left;
                }

                .post-image {
                    width: 128px;
                    height: 96px;
                    max-width: none;
                }
            }

            @include m-l {
                max-width: 50%;
            }

            &:hover {
                .post-image {
                    border-color: $color-primary;
                }
            }

            .heading {
                margin-bottom: 4px;

                @include s {
                    font-size: $font-size-body;
                }

                @include m-l {
                    font-size: $font-size-heading-3;
                }

                &.thin {
                    margin-bottom: 16px;
                }
            }
        }

        .post-prev {
            &::before {
                content: '‹';
                position: absolute;
                left: -32px;
            }

            @include s {
                float: left;
                margin-left: 0;

                &::before {
                    left: -16px;
                }
            }

            @include m-l {
                float: left;

                .heading {
                    text-align: left;
                }

                .post-image {
                    float: left;
                }
            }
        }

        .post-next {
            text-align: right;

            &::before {
                content: '›';
                position: absolute;
                right: -32px;
            }

            @include s {
                float: right;
                margin-left: auto;
                margin-right: 0;

                &::before {
                    right: -16px;
                }

                .heading {
                    text-align: right;
                }
            }

            @include m-l {
                float: right;

                .heading {
                    text-align: right;
                }

                .post-image {
                    float: right;
                }
            }
        }

        .post-image {
            width: 256px;
            max-width: 90%;
            height: 176px;
            margin-top: 8px;
            border: 1px solid rgba($color-white, 0.5);
            background-size: cover;
            transition: border-color $transition;

            @include s {
                display: none;
            }
        }
    }
}

#ssba-classic-2 {
    margin-top: 36px;

    a {
        margin-right: 8px;
    }

    .ssba-share-text {
        display: block;
        margin-bottom: -16px;
        font-weight: $font-weight-heading;
        font-family: $font-family-heading;
        font-size: $font-size-heading-4;
    }

    .ssbp-text {
        display: none;
    }
}
