.services {
    padding-top: 72px;
    padding-bottom: 56px;
    background-color: $color-lightgray;

    @include s {
        text-align: center;
    }

    .section-heading {
        margin-bottom: 52px;

        @include s {
            font-size: $font-size-heading-2;
        }
    }

    .column-heading {
        margin-bottom: 16px;
        white-space: nowrap;

        .mdi {
            transition: margin-left $transition;
        }

        &:hover {
            .mdi {
                margin-left: 8px;
            }
        }

        @include s {
            margin-left: 24px;
            font-size: 20px;
        }

        @include m {
            margin-right: -64px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @include m-l {
            text-align: left;
        }
    }

    .column {
        opacity: 0.75;
        margin-bottom: 40px;
        padding-left: 0;
        list-style: none;
    }

    .item {
        white-space: nowrap;
    }

    .mdi {
        color: $color-primary;
        font-size: 40px;
        line-height: 0;
        vertical-align: -6px;
    }
}
