$media-height: 512px;

.text-image {
    &:last-child {
        margin-bottom: 32px;
    }

    &.left-aligned .media-content {
        margin-right: -16px;
    }

    &.right-aligned {
        .table {
            flex-direction: row-reverse;

            .media-content {
                margin-left: -16px;

                @include s-m {
                    margin-left: 0;
                }
            }
        }
    }

    .button {
        margin-top: 32px;
        margin-bottom: 0;
    }

    .table {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        width: 100%;
        padding-top: 56px;
        padding-bottom: 56px;

        @include s-m {
            display: block;
            padding-top: 0;
            padding-bottom: 0;
        }

        .cell {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;

            @include s-m {
                width: 100%;
            }

            &.text-cell {
                padding-left: $inner-padding;
                padding-right: $inner-padding;

                @include s-m {
                    padding-top: 48px;
                    padding-bottom: 48px;
                    padding-left: 24px;
                    padding-right: 24px;
                }

                @include m {
                    padding-bottom: 48px;
                }

                .text-content {
                    h1, h2 {
                        margin-bottom: 24px;
                        font-size: $font-size-heading-2;
                        font-weight: $font-weight-heading;
                        text-transform: uppercase;

                        @include s {
                            margin-left: -16px;
                            margin-right: -16px;
                        }
                    }

                    p {
                        line-height: $font-leading-body;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            &.media-cell {
                position: relative;
                height: 420px;
                padding-left: 16px;
                padding-right: 16px;

                @include s {
                    height: 256px;
                }

                @include s-m {
                    padding-left: 0;
                    padding-right: 0;
                }

                &.has-slider {
                    height: auto;
                }

                .media-content {
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;

                    .title {
                        position: absolute;
                        top: 50%;
                        width: 100%;
                        margin: 0;
                        margin-top: -14px;
                        padding: 0;
                        color: white;
                        text-align: center;

                        @include s-m {
                            font-size: $font-size-heading-2;
                        }
                    }
                }
            }
        }
    }
}
