@keyframes emerge {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes emerge-slow {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear-instant {
    0% {
        opacity: 0;
        -webkit-transform: translateY(32px);
            -ms-transform: translateY(32px);
                transform: translateY(32px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: translateY(32px);
            -ms-transform: translateY(32px);
                transform: translateY(32px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(32px);
            -ms-transform: translateY(32px);
                transform: translateY(32px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
                transform: translateY(0px);
    }
    20% {
        opacity: 1;
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
                transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(32px);
            -ms-transform: translateY(32px);
                transform: translateY(32px);
    }
}

[data-animate] {
    &.animatable {
        &[data-animate="emerge"] {
            opacity: 0;
        }

        &[data-animate="self"], h1, h2, p, button {
            opacity: 0;
            -webkit-transform: translateY(32px);
                -ms-transform: translateY(32px);
                    transform: translateY(32px);
        }
    }

    &.animated {
        &[data-animate="emerge"] {
            animation: emerge $duration-slower $easing 0s 1 normal forwards;
            -webkit-animation: emerge $duration-slower $easing 0s 1 normal forwards;
        }

        &[data-animate="emerge"][data-animate-delay="1"] {
            animation: emerge $duration-slower $easing 0.1s 1 normal forwards;
            -webkit-animation: emerge $duration-slower $easing 0.1s 1 normal forwards;
        }

        &[data-animate="emerge"][data-animate-delay="2"] {
            animation: emerge $duration-slower $easing 0.2s 1 normal forwards;
            -webkit-animation: emerge $duration-slower $easing 0.2s 1 normal forwards;
        }

        &[data-animate="emerge"][data-animate-speed="slow"] {
            animation: emerge $duration-slowest $easing 0s 1 normal forwards;
            -webkit-animation: emerge $duration-slowest $easing 0s 1 normal forwards;
        }

        &[data-animate="emerge"][data-animate-speed="slow"][data-animate-delay="1"] {
            animation: emerge $duration-slowest $easing 0.1s 1 normal forwards;
            -webkit-animation: emerge $duration-slowest $easing 0.1s 1 normal forwards;
        }

        &[data-animate="emerge"][data-animate-speed="slow"][data-animate-delay="2"] {
            animation: emerge $duration-slowest $easing 0.2s 1 normal forwards;
            -webkit-animation: emerge $duration-slowest $easing 0.2s 1 normal forwards;
        }

        &[data-animate="self"], h1, h2, button {
            animation: appear-instant $duration-slower $easing 0s 1 normal forwards;
            -webkit-animation: appear-instant $duration-slower $easing 0s 1 normal forwards;
        }

        &[data-animate="self"][data-animate-delay="1"], p {
            animation: appear-instant $duration-slower $easing 0.1s 1 normal forwards;
            -webkit-animation: appear-instant $duration-slower $easing 0.1s 1 normal forwards;
        }

        &[data-animate="self"][data-animate-delay="2"], p {
            animation: appear-instant $duration-slower $easing 0.2s 1 normal forwards;
            -webkit-animation: appear-instant $duration-slower $easing 0.2s 1 normal forwards;
        }

        &[data-animate="self"][data-animate-speed="slow"] {
            animation: appear-instant $duration-slowest $easing 0s 1 normal forwards !important;
            -webkit-animation: appear-instant $duration-slowest $easing 0s 1 normal forwards !important;
        }

        &[data-animate="self"][data-animate-speed="slow"][data-animate-delay="1"] {
            animation: appear-instant $duration-slowest $easing 0.1s 1 normal forwards !important;
            -webkit-animation: appear-instant $duration-slowest $easing 0.1s 1 normal forwards !important;
        }

        &[data-animate="self"][data-animate-speed="slow"][data-animate-delay="2"] {
            animation: appear-instant $duration-slowest $easing 0.2s 1 normal forwards !important;
            -webkit-animation: appear-instant $duration-slowest $easing 0.2s 1 normal forwards !important;
        }
    }
}
