%button {
    display: block;
    width: 280px;
    height: 56px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 3px;
    background-color: $color-primary;
    color: $color-white;
    font-size: $font-size-heading-5;
    font-weight: $font-weight-heading;
    font-family: $font-family-heading;
    text-transform: uppercase;
    line-height: 48px;
    transition: background-color $transition;

    @include s {
        width: 100%;
    }

    @include s-m {
        margin-left: auto;
        margin-right: auto;
    }

    &:hover {
        background-color: $color-primary-dark;
    }

    .mdi {
        margin-left: 4px;
    }
}

.button {
    @extend %button;
}
