.card {
    position: relative;
    overflow: hidden;
    height: 208px;
    padding: 32px;
    margin-bottom: 32px;
    background-color: $color-black;
    color: $color-white;

    @include s {
        text-align: center;
    }

    &.long {
        height: 440px;

        @include s-m {
            height: 256px;
        }
    }

    &:hover {
        .background {
            opacity: 0.5;
            -webkit-transform: scale(1.07);
                -ms-transform: scale(1.07);
                    transform: scale(1.07);
        }
    }

    .background {
        opacity: 0.9;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: cover;
        background-position: center;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        transition: opacity $transition-slower, transform $transition-slower;
    }

    .heading {
        position: relative;
        padding-top: 0;
        margin-bottom: 6px !important;
        font-size: $font-size-heading-3;
        z-index: 10;

        &.thin {
            font-weight: $font-weight-thin;
        }
    }
}
