.container {
    width: 100%;
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 64px;
    padding-right: 64px;

    &.wide {
        max-width: $container-width-wide;

        @include s {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    @include s {
        padding-left: 24px;
        padding-right: 24px;
    }
}
