// Colors:
$color-primary:        rgb(229, 126, 35);
$color-primary-dark:   rgb(229, 96, 35);
$color-white:          rgb(255, 255, 255);
$color-lightgray:      rgb(244, 238, 238);
$color-gray:           rgb(160, 160, 160);
$color-black:          rgb(0, 0, 0);

// Fonts:
$font-family:          'Montserrat', sans-serif;
$font-family-heading:  'Metropolis', sans-serif;
$font-size-heading-1:  56px;
$font-size-heading-1½: 48px;
$font-size-heading-2:  40px;
$font-size-heading-2½: 32px;
$font-size-heading-3:  26px;
$font-size-heading-3½: 23px;
$font-size-heading-4:  20px;
$font-size-heading-5:  18px;
$font-size-body:       16px;
$font-size-small:      14px;
$font-weight-thinner:  200;
$font-weight-thin:     400;
$font-weight-normal:   500;
$font-weight-heading:  700;
$font-tracking-small:  0em;
$font-leading-body:    1.5;

// Animation:
$easing:               cubic-bezier(0, 0.75, 0.25, 1);
$duration-slowest:     3s;
$duration-slower:      1.8s;
$duration-slow:        1.2s;
$duration:             0.6s;
$duration-fast:        0.4s;
$transition-slowest:   $duration-slowest $easing 0s;
$transition-slower:    $duration-slower $easing 0s;
$transition-slow:      $duration-slow $easing 0s;
$transition:           $duration $easing 0s;
$transition-fast:      $duration-fast $easing 0s;

// Responsiveness:
$screen-md:            600px;
$screen-lg:            1024px;

// Grid:
$container-width:      1260px;
$container-width-wide: 1380px;
$padding:              32px;
$padding-tight:        16px;
$sections-padding:     64px;
$inner-padding:        60px;

// Elements:
$menu-height:          96px;
$menu-s-height:        48px;
$menu-expanded-height: 64px;
$modal-offset:         102px;
