@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
        url('./fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('./fonts/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('./fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('./fonts/Montserrat-Medium.woff2') format('woff2'),
        url('./fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Metropolis-Light.eot');
    src: url('./fonts/Metropolis-Light.woff2') format('woff2'),
         url('./fonts/Metropolis-Light.woff')  format('woff'),
         url('./fonts/Metropolis-Light.ttf')   format('truetype'),
         url('./fonts/Metropolis-Light.otf')   format('opentype');
}

@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/Metropolis-Bold.eot');
    src: url('./fonts/Metropolis-Bold.woff2') format('woff2'),
         url('./fonts/Metropolis-Bold.woff')  format('woff'),
         url('./fonts/Metropolis-Bold.ttf')   format('truetype'),
         url('./fonts/Metropolis-Bold.otf')   format('opentype');
}
