@mixin s {
    @media (max-width: $screen-md - 1) {
        @content;
    }
}

@mixin s-m {
    @media (max-width: $screen-lg - 1) {
        @content;
    }
}

@mixin m {
    @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
        @content;
    }
}

@mixin m-l {
    @media (min-width: $screen-md) {
        @content;
    }
}

@mixin l {
    @media (min-width: $screen-lg) {
        @content;
    }
}

.row {
    margin-left: -$padding;
    margin-right: -$padding;

    &::after {
        content: '';
        display: table;
        clear: both;
    }

    &.tight-padding {
        margin-left: -$padding-tight;
        margin-right: -$padding-tight;

        [class^="col-"] {
            padding-left: $padding-tight;
            padding-right: $padding-tight;
        }
    }
}

[class^="col-"] {
    float: left;
    padding-left: $padding;
    padding-right: $padding;
}

.float-right {
    float: right;
}

.col-1-1 {
    width: 100%;
}

.col-1-2 {
    width: 1 / 2 * 100%;
}

.col-1-3 {
    width: 1 / 3 * 100%;
}

.col-2-3 {
    width: 2 / 3 * 100%;
}

@include s {
    .s-1-1 {
        width: 100%;
    }
}

@include m {
    .m-1-1 {
        width: 100%;
    }

    .m-1-2 {
        width: 50%;
    }
}
