.intro-text {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: $color-black;
    color: $color-white;
    font-size: $font-size-heading-5;

    @include m-l {
        font-size: $font-size-heading-3½;
    }
}
