.intro-slider {
    padding-top: 56px;
    padding-bottom: 80px;
    background-color: $color-lightgray;

    @include m-l {
        margin-bottom: 64px;
    }

    .carousel {
        cursor: grab;

        ul {
            max-width: none;
        }

        &.slick-slider {
            margin-bottom: 0;
        }

        &:hover {
            .slick-prev,
            .slick-next {
                opacity: 1;
            }
        }

        .carousel-slide {
            width: auto;
            height: 256px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: opacity $transition;

            @include m-l {
                height: 500px;
            }

            &:hover {
                opacity: 0.93;
            }
        }

        .slick-slide {
            outline: none !important;
        }

        .slick-prev,
        .slick-next {
            opacity: 0;
            width: 48px;
            height: 48px;
            transition: opacity $transition;
            z-index: 10;

            @include s {
                display: none !important;
            }

            &::before {
                //color: rgb(208, 208, 208);
                color: $color-black;
                font-size: 48px;
            }
        }

        .slick-dots {
            bottom: -48px;

            li {
                @include s {
                    margin: 0;
                }
                
                &.slick-active button:before {
                    color: $color-black;
                }

                button {
                    &::before {
                        content: "\2022"; // Fixes random unicode bug.
                        font-size: 12px;
                    }
                }
            }
        }

        .slick-prev {
            left: 56px;

            &::before {
                content: "\2190"; // Fixes random unicode bug.
            }
        }

        .slick-next {
            right: 56px;

            &::before {
                content: "\2192"; // Fixes random unicode bug.
            }
        }
    }
}
