.long-arrow {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: -64px;
    color: $color-white;
    font-size: 48px;
    -webkit-transform: translate(-50%, -80%);
        -ms-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-timing-function: $easing;
            animation-timing-function: $easing;
    z-index: 100;
    transition: opacity $transition;

    @keyframes bounce {
        0% {
            opacity: 0;
            -webkit-transform: translate(-50%, -100%);
                -ms-transform: translate(-50%, -100%);
                    transform: translate(-50%, -100%);
        }
        50% {
            opacity: 1;
            -webkit-transform: translate(-50%, -80%);
                -ms-transform: translate(-50%, -80%);
                    transform: translate(-50%, -80%);
        }
        100% {
            opacity: 0;
            -webkit-transform: translate(-50%, -100%);
                -ms-transform: translate(-50%, -100%);
                    transform: translate(-50%, -100%);
        }
    }

    @include s-m {
        display: none;
    }

    &.disappeared {
        opacity: 0;
        animation-iteration-count: 1;
    }
}
