body.modal-open {
    overflow: hidden;

    .menu {
        color: $color-black;

        .logo {
            .logo-black {
                display: block;
            }

            .logo-white {
                display: none;
            }
        }
    }
}

.modal {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    top: -99999px;
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100%;
    color: $color-black;
    z-index: 110;
    -webkit-transform: translateY(32px);
        -ms-transform: translateY(32px);
            transform: translateY(32px);
    transition: top $duration step-end 0s, transform $transition, opacity $transition;

    h4, h5 {
        margin-bottom: 4px;
    }

    &.expanded {
        top: 0;
        opacity: 1;
        transition: top $duration step-start 0s, transform $transition, opacity $transition;
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
                transform: translateY(0px);
    }

    .modal-content {
        position: relative;
        overflow: auto;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 32px;
        padding-bottom: 0px;
        padding-left: 32px;
        padding-right: 32px;
        border: 16px solid $color-white;
        background-color: white;
        outline: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);

        @include s {
            padding-top: 24px;
            padding-bottom: 8px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: center;

            [type="submit"] {
                margin-bottom: 0;
            }
        }

        @include m {
            padding-top: 24px;
            padding-bottom: 8px;
            padding-left: 8px;
            padding-right: 8px;
        }

        @include l {
            height: 80vh;
        }

        .container {
            padding-left: 32px;
            padding-right: 32px;
        }

        .subsection {
            padding-bottom: 32px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .modal-button-close {
        opacity: 0.5;
        position: absolute;
        top: 8px;
        right: 8px;

        .mdi {
            font-size: 32px;
            line-height: 1;
            cursor: pointer;
        }
    }

    .modal-arrow {
        $arrow-size: 24px;
        position: absolute;
        top: -$arrow-size;
        right: 0;
        width: 0;
        height: 0;
        margin-left: 24px;
        border-left: $arrow-size solid transparent;
        border-right: $arrow-size solid transparent;
        border-bottom: $arrow-size solid $color-white;
        pointer-events: none;

        @include s-m {
            display: none;
        }
    }
}

.modal-overlay {
    position: fixed;
    top: -99999px;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: $color-lightgray;
    z-index: 99;
    transition: top $duration step-end 0s, opacity $transition;

    &.dimmed {
        top: 0;
        opacity: 0.9;
        transition: top $duration step-start 0s, opacity $transition;
    }
}
