body {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: $font-family;
    font-size: $font-size-body;
    font-weight: $font-weight-thin;
    line-height: $font-leading-body;
    letter-spacing: 0em;
    word-spacing: 0.1em;
    word-break: break-word;
    font-style: normal;
    font-variant: normal;
    text-transform: none; // Mac Firefox fix.
    -webkit-font-smoothing: antialiased; // Mac Safari fix.
    -moz-osx-font-smoothing: grayscale; // Mac Firefox fatness fix.
    -webkit-overflow-scrolling: touch; // Momentum scrolling fix.

    &.has-loaded {
        overflow-y: auto;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}

p {
    max-width: 600px;
    margin-bottom: 28px;

    @include s {
        text-align: center;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-family: $font-family-heading;
    letter-spacing: 0;
    line-height: 1;
    text-transform: uppercase;

    @include s {
        text-align: center;
    }
}

h1 {
    font-size: $font-size-heading-1;

    @include s {
        font-size: $font-size-heading-2;
    }
}

h2 {
    padding-top: 6px;
    font-size: $font-size-heading-2;

    @include s {
        font-size: $font-size-heading-3;
    }
}

h3 {
    font-size: $font-size-heading-3;
}

h4 {
    font-size: $font-size-heading-4;
}

h5 {
    font-size: $font-size-heading-5;
}

a {
    font-family: $font-family-heading;
    font-weight: $font-weight-heading;
    transition: color $transition;

    &:hover {
        color: $color-primary;
    }
}

ul {
    max-width: 600px;
    margin-bottom: 32px;
    padding-left: 18px;
    list-style: disc;

    @include s {
        padding-left: 32px;
    }
}

.heading {
    margin-bottom: 24px;
    padding-top: 10px;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

.section-heading {
    margin-bottom: 32px;
    text-align: center;
}

.heading-large {
    margin-bottom: 0;
}

.thin {
    font-family: $font-family;
    font-weight: $font-weight-thinner;
}

.italic {
    font-style: italic;
}
