*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

blockquote {
    margin: 0;
}

button {
    padding: 0;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
